.content {
  @include border-active;

  overflow: auto;
  display: flex;
  justify-content: center;

  height: 100%;
  margin: 10px;
  padding: 5px;
}

.display {
  width: 184px;
  height: 169px;
  background-image: url("/interface/monitor.png");
  background-repeat: no-repeat;
}

.display__content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 152px;
  height: 112px;
  margin-top: 17px;
  margin-left: 16px;
  padding: 10px;

  background-color: var(--desktop-background);
}

.label {
  user-select: none;

  display: grid;
  grid-template-rows: 48px calc(var(--fz) * 2);
  gap: 4px;
  align-items: center;
  justify-items: center;
}

.label__icon {
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  background-image: url("/icons/folder-closed48.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.label__name {
  overflow: hidden;
  display: -webkit-inline-box;

  width: 100%;
  max-height: calc(var(--fz) * 2);

  color: var(--desktop-text);
  text-overflow: ellipsis;
  word-break: break-word;

  background-color: var(--desktop-background);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
