.content {
  @include border-active;

  overflow: auto;

  height: 100%;
  margin: 10px;
  padding: 0;

  background-color: var(--system-background);
}

.image {
  display: flex;
  height: 100%;

  & img {
    flex-grow: 1;
    height: 100%;
    object-fit: contain;
  }
}
