.icon {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &.big {
    width: 48px;
    height: 48px;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.small {
    width: 16px;
    height: 16px;
  }

  &.toggle-theme.big {
    background-image: url("/icons/themes48.png");
  }

  &.text.big {
    background-image: url("/icons/notepad48.png");
  }

  &.text.active.big {
    background-image: url("/icons/file48.png");
  }

  &.text.small {
    background-image: url("/icons/notepad16.png");
  }

  &.text.active.small {
    background-image: url("/icons/file16.png");
  }

  &.folder.big {
    background-image: url("/icons/folder-closed48.png");
  }

  &.folder.small {
    background-image: url("/icons/folder-closed16.png");
  }

  &.folder.active.big {
    background-image: url("/icons/folder-opened48.png");
  }

  &.folder.active.small {
    background-image: url("/icons/folder-opened16.png");
  }
}
