.icon {
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;

  &.big {
    width: 48px;
    height: 48px;
  }

  &.medium {
    width: 32px;
    height: 32px;
  }

  &.small {
    width: 16px;
    height: 16px;
  }

  &.toggle-theme.big {
    background-image: url("/icons/themes48.png");
  }

  &.document.big {
    background-image: url("/icons/document_closed48.png");
  }

  &.document.opened.big {
    background-image: url("/icons/document_opened48.png");
  }

  &.document.small {
    background-image: url("/icons/document_closed16.png");
  }

  &.document.opened.small {
    background-image: url("/icons/document_opened16.png");
  }

  &.folder.big {
    background-image: url("/icons/folder_closed48.png");
  }

  &.folder.small {
    background-image: url("/icons/folder_closed16.png");
  }

  &.folder.opened.big {
    background-image: url("/icons/folder_opened48.png");
  }

  &.folder.opened.small {
    background-image: url("/icons/folder_opened16.png");
  }

  &.explorer.big {
    background-image: url("/icons/internetexplorer48.png");
  }

  &.explorer.small {
    background-image: url("/icons/internetexplorer16.png");
  }
}
