*,
*::before,
*::after {
  box-sizing: border-box;

  &:focus-visible {
    outline: none;
  }
}

html {
  scroll-behavior: smooth;

  overflow: hidden;

  // EestiFont
  // font-family: var(--eesti);

  // MsSansSerif
  font-family: var(--ms);
  font-size: var(--fz);
  line-height: var(--lh);

  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: none;

  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
  max-width: 100vw;
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;

  min-height: var(--dvh);

  color: var(--text-primary);

  background-color: var(--background-primary);

  transition:
    color $td,
    background-color $td;
}

.no-transition {
  transition: none !important;
}

.visually-hidden {
  @include visually-hidden;
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

button {
  padding: 0;
  background-color: transparent;
  border: 0;
}

button,
a {
  cursor: pointer;

  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  color: inherit;

  &:focus-visible {
    outline: none;
  }
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.section {
  width: 100%;
}

.container {
  @include vp-md {
    padding: 0 15px;
  }

  max-width: $max-width;
  margin: 0 auto;
  padding: 0 30px;
}
