*,
::after,
::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

:where(:root) {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.15;
}

:where(main) {
  display: block;
}

:where(h1) {
  margin: 0.67em 0;
  font-size: 2em;
}

:where(p + p) {
  margin-top: 1rem;
}

:where(a) {
  background-color: transparent;
}

:where(abbr[title]) {
  text-decoration: underline dotted;
}

:where(code, kbd, samp, pre) {
  font-family: monospace;
  font-size: 1em;
}

:where(sub, sup) {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

:where(sub) {
  bottom: -0.25em;
}

:where(sup) {
  top: -0.5em;
}

:where(button, input, optgroup, select, textarea) {
  line-height: inherit;
  border: 1px solid currentcolor;
}

:where(button) {
  overflow: visible;

  margin: 0;
  padding: 0;

  font: inherit;
  text-transform: none;

  appearance: button;
}

:where(input) {
  overflow: visible;
}

:where(input, textarea) {
  padding: 1px;
}

:where(fieldset) {
  margin: 0 2px;
  border: 1px solid currentcolor;
}

:where(legend) {
  display: table;
  max-width: 100%;
  color: inherit;
  white-space: normal;
}

:where(progress) {
  display: inline-block;
  vertical-align: baseline;
}

:where(select) {
  text-transform: none;
}

:where(textarea) {
  overflow: auto;
  vertical-align: top;
}

:where([type="search"]) {
  appearance: textfield;
  outline-offset: -2px;
}

:where([type="color"]) {
  background: inherit;
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

::-webkit-file-upload-button,
::-webkit-search-decoration {
  font: inherit;
  appearance: button;
}

::-moz-focus-inner {
  border: 0;
}

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

:-moz-ui-invalid {
  box-shadow: none;
}

:where(hr) {
  overflow: visible;
  box-sizing: content-box;
  height: 0;
  color: inherit;
}

:where(dl, ol, ul) {
  margin: 1em 0;
}

:where(ol ol, ol ul, ol dl, ul ol, ul ul, ul dl, dl ol, dl ul, dl dl) {
  margin: 0;
}

:where(b, strong) {
  font-weight: bolder;
}

:where(audio, video) {
  display: inline-block;
}

:where(audio):not([controls]) {
  display: none;
  height: 0;
}

:where(img) {
  border: 0;
}

:where(svg):not(:root) {
  overflow: hidden;
}

:where(table) {
  text-indent: 0;
  border-color: inherit;
}

:where(details) {
  display: block;
}

:where(dialog) {
  position: absolute;
  right: 0;
  left: 0;

  display: block;

  width: fit-content;
  height: fit-content;
  margin: auto;
  padding: 1em;

  color: inherit;

  background-color: inherit;
  border: solid;
}

:where(dialog):not([open]) {
  display: none;
}

:where(summary) {
  display: list-item;
}

:where(canvas) {
  display: inline-block;
}

:where(template) {
  display: none;
}

:where([hidden]) {
  display: none;
}
