// Resources
// https://www.ncscolorguide.com/ncs/s-0300-s-0585
// https://margaret2.github.io/pantone-colors/
// https://www.pantone-colours.com/

// Palettes

// Pantone colors

// Modded

:root {
  --dvh: 100vh;
  --fz: 14px;

  // 48px + fz*2 + gap(4px)
  --square: calc(48px + 14px + 14px + 4px);

  // Palette
  --text-primary: #000000;
  --background-primary: #ffffff;
  --spinner: #000000;
}

:root[data-theme="dark"] {
  --text-primary: #ffffff;
  --background-primary: #000000;
  --spinner: #ffffff;
}
