// Resources
// https://www.ncscolorguide.com/ncs/s-0300-s-0585
// https://margaret2.github.io/pantone-colors/
// https://www.pantone-colours.com/

// Palettes

// Pantone colors
$pantone-bright-white: #f4f5f0;
$pantone-night-sky: #2a2a35;

// Modded

$modded-pantone-phantom-darker: hsl(260 3% 14%);

:root {
  --dvh: 100vh;
  --fz: 14px;

  // 48px + fz*2 + gap(4px)
  --square: calc(48px + 14px + 14px + 4px);

  // colors
  --text-primary: #000000;
  --system-gray: rgb(192 192 192);
  --system-background: #ffffff;
  --spinner: #{$pantone-night-sky};
}

:root[data-theme="dark"] {
  --text-primary: #ffffff;
  --system-gray: hsl(0 0% 20%);
  --system-background: hsl(0 0% 25%);
  --spinner: #{$pantone-bright-white};
}
