.anchor {
  @include border;
  @include no-focus;

  user-select: none;
  flex-shrink: 0;
  width: 160px;
  height: 24px;

  &.active {
    @include border-active;
  }
}

.anchor__content {
  display: flex;
  gap: 5px;
  align-items: center;

  width: 100%;
  height: 100%;
  padding: 5px;

  background-color: #b8b8b8;

  .active & {
    @include rectangles(2px, transparent, #aaaaaa);

    font-weight: 700;
  }

  .hidden & {
    @include rectangles(2px, transparent, #444444);
  }
}

.anchor__icon {
  width: 24px;
  height: 24px;
}

.anchor__text {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
