.screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100vh;
}

.desktop {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--square));
  grid-template-rows: repeat(auto-fill, var(--square));
  flex-grow: 1;
  gap: 5px;

  padding: 5px;
}

.footer {
  @include border(2px);

  overflow-x: auto;
  display: flex;
  gap: 2px;
  align-items: center;

  min-height: 32px;
  padding: 2px;

  background-color: #e6e6e6;
}
