.screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100vh;
}

.desktop {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, 85px);
  grid-template-rows: repeat(auto-fill, 85px);
  flex-grow: 1;

  padding: 10px;
}

.footer {
  overflow-x: auto;
  display: flex;
  gap: 5px;

  min-height: 40px;

  background-color: $pantone-solar-power;
}

.anchor {
  display: flex;
  flex-shrink: 0;
  align-items: center;

  width: 160px;
  height: 40px;
  padding: 5px;

  background-color: $pantone-bright-cobalt;

  &.hidden {
    background-color: $pantone-moonbeam;
  }

  &.active {
    background-color: #ff0000;
  }
}

.anchor__icon {
  flex-shrink: 0;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px;

  .folder & {
    background-image: url("/icons/folder-closed.png");
  }

  .file & {
    background-image: url("/icons/file.png");
  }
}

.anchor__text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
