.screen {
  overflow: hidden;
  display: flex;
  flex-direction: column;

  height: 100%;
  max-height: 100vh;
}

.desktop {
  position: relative;

  overflow: hidden;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--square));
  grid-template-rows: repeat(auto-fill, var(--square));
  flex-grow: 1;
  gap: 5px;

  padding: 5px;

  background-image: var(--wallpaper-image);
  background-repeat: var(--wallpaper-repeat);
  background-position: var(--wallpaper-position);
  background-size: var(--wallpaper-size);
}

.footer {
  @include border;

  overflow-x: auto;
  display: flex;
  gap: 2px;
  align-items: center;

  min-height: 32px;
  padding: 2px;

  background-color: #e6e6e6;
}

.start {
  @include border;

  user-select: none;
  flex-shrink: 0;
  width: 80px;
  height: 24px;

  &:active {
    @include border-active;
  }
}
