.label {
  user-select: none;

  display: grid;
  grid-template-rows: 48px 24px;
  gap: 4px;
  align-items: center;
  justify-items: center;

  width: 100%;
  height: 100%;
}

.label__icon {
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  background-repeat: no-repeat;
  background-position: center;
  background-size: 48px;

  .folder & {
    background-image: url("/icons/folder-closed48.png");
  }

  .file & {
    background-image: url("/icons/file48.png");
  }
}

.label__name {
  overflow: hidden;
  display: -webkit-box;

  width: 100%;

  text-overflow: ellipsis;
  word-break: break-word;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
