.window {
  user-select: none;

  position: absolute;
  top: calc(50% - 50px);
  left: calc(50% - 200px);

  width: 400px;
  height: 100px;

  background-color: $pantone-dusk-blue;
  filter: grayscale(100%);

  &.active {
    filter: grayscale(0);
  }
}

.dragbar {
  cursor: pointer;

  position: relative;

  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;

  width: 100%;
  height: 40px;

  & button {
    position: relative;
    z-index: 1;

    width: 20px;
    height: 20px;

    background-color: $pantone-bright-white;
  }
}

.dragarea {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ffa500;
}

.hidden {
  display: none;
}

.active {
  z-index: 100000000000 !important;
}

.expanded {
  top: 0 !important;
  left: 0 !important;
  transform: none !important;

  width: 100%;
  height: 100%;
}
