.content {
  @include border-active(2px);

  overflow: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, var(--square));
  grid-template-rows: repeat(auto-fill, var(--square));
  flex-grow: 1;
  gap: 5px;

  height: 100%;
  margin: 10px;
  padding: 5px;

  background-color: #ffffff;
}
