.button {
  $type: solid;

  @include border(2px, $type);

  background-color: rgb(200 200 200);

  & svg {
    width: 8px;
    height: 8px;
  }

  &:active {
    @include border-active(2px, $type);

    & svg {
      transform: translate(1px, 1px);
      fill: rgb(16 45 208);
    }
  }
}
