.button {
  $type: solid;

  @include border(1px, $type);

  background-color: rgb(200 200 200);

  & svg {
    width: 8px;
    height: 8px;
  }

  &:disabled {
    color: rgb(160 160 160);
    fill: rgb(160 160 160);
  }

  &:not(:disabled):active {
    @include border-active(1px, $type);

    & svg,
    & span {
      transform: translate(1px, 1px);
      fill: rgb(16 45 208);
    }
  }
}
