.label {
  user-select: none;

  display: grid;
  grid-template-rows: 48px calc(var(--fz) * 2);
  gap: 4px;
  align-items: center;
  justify-items: center;

  &.active {
    outline: 1px dotted var(--text-primary);
  }
}

.label__name {
  overflow: hidden;
  display: -webkit-inline-box;

  width: 100%;
  max-height: calc(var(--fz) * 2);

  text-overflow: ellipsis;
  word-break: break-word;

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
