.titlebar {
  user-select: none;
  position: relative;
  color: rgb(192 192 192);
}

.titlebar__dragarea {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.titlebar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 4px;

  background: linear-gradient(90deg, rgb(128 128 128) 0%, rgb(181 181 181) 100%);

  .active & {
    color: #ffffff;
    background: linear-gradient(90deg, #000080 0%, #1084d0 100%);
  }
}

.titlebar__details {
  overflow: hidden;
  display: flex;
  gap: 4px;
}

.titlebar__name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.titlebar__icon,
.titlebar__name,
.titlebar__controls {
  position: relative;
}

.titlebar__icon,
.titlebar__name {
  pointer-events: none;
}

.titlebar__controls {
  display: flex;

  & button:last-child {
    margin-left: 2px;
  }
}

.button-icon {
  $size: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;

  &--collapse {
    align-items: flex-end;

    svg {
      height: auto;
    }
  }
}
