.titlebar {
  @include border(2px);

  position: relative;
  color: rgb(192 192 192);
  background: linear-gradient(90deg, rgb(128 128 128) 0%, rgb(181 181 181) 100%);

  :global(.active) & {
    color: #ffffff;
    background: linear-gradient(90deg, var(--title-bar) 0%, #1084d0 100%);
  }
}

.titlebar__dragarea {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.titlebar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.titlebar__details {
  overflow: hidden;
  display: flex;
  gap: 4px;
}

.titlebar__name {
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.titlebar__icon,
.titlebar__name,
.titlebar__controls {
  position: relative;
}

.titlebar__icon,
.titlebar__name {
  pointer-events: none;
}

.titlebar__controls {
  display: flex;
  gap: 4px;
}
