.titlebar {
  position: relative;
  background: linear-gradient(90deg, var(--title-bar) 0%, #1084d0 100%);
}

.titlebar__dragarea {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
}

.titlebar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
}

.titlebar__details {
  overflow: hidden;
  display: flex;
  gap: 4px;
}

.titlebar__name {
  overflow: hidden;

  color: #ffffff;
  text-overflow: ellipsis;
  word-break: break-all;
  white-space: nowrap;
}

.titlebar__icon,
.titlebar__name,
.titlebar__controls {
  position: relative;
  z-index: 1;
}

.titlebar__icon,
.titlebar__name {
  pointer-events: none;
}

.titlebar__controls {
  display: flex;
  gap: 4px;
}
