.button {
  $size: 20px;
  $icon-size: 8px;

  @include border(2px);

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;

  background-color: #ececec;

  &:active {
    @include border-active(2px);
  }

  &__icon {
    display: flex;
    align-items: flex-end;
    width: $icon-size;
    height: $icon-size;

    & svg {
      width: 100%;
    }
  }
}
