.window {
  @include border(2px, ridge);

  will-change: transform;
  user-select: none;

  position: absolute;

  display: flex;
  flex-direction: column;

  background-color: rgb(192 192 192);

  &:not(.expanded)::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 10px;
    height: 10px;

    background-image: url("/interface/corner.svg");
  }

  &.expanded {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;

    width: 100%;
    height: 100%;
  }

  &.hidden {
    display: none;
  }

  &.active {
    z-index: 100000000000 !important;
  }

  &:focus-visible {
    outline: none;
  }
}

.corner {
  $size: 10px;

  cursor: se-resize;

  position: absolute;
  top: -$size * 3;
  left: -$size * 3;

  width: $size * 3;
  height: $size * 3;
}

.pathbar {
  padding: 5px 10px;
  line-height: 150%;
}

.path {
  @include border-active(1px, ridge);

  overflow: hidden;

  padding: 0 5px;

  text-overflow: ellipsis;
  white-space: nowrap;

  background-color: #ffffff;
}
