.window {
  @include border(2px, ridge);

  user-select: none;

  position: absolute;

  display: flex;
  flex-direction: column;

  background-color: rgb(192 192 192);

  &.expanded {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;

    width: 100%;
    height: 100%;
  }

  &.hidden {
    display: none;
  }

  &.active {
    z-index: 100000000000 !important;
  }

  &:focus-visible {
    outline: none;
  }
}

.content {
  @include border-active;

  overflow: auto;

  height: 100%;
  margin: 10px;
  padding: 5px;

  background-color: var(--background-primary);

  .image & {
    padding: 0;
  }

  .folder & {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--square));
    grid-template-rows: repeat(auto-fill, var(--square));
    flex-grow: 1;
    gap: 5px;

    height: 100%;
  }
}

.pin {
  $size: 10px;

  cursor: se-resize;

  position: absolute;
  top: -$size * 2;
  left: -$size * 2;

  width: $size * 3;
  height: $size * 3;

  opacity: 0.5;
  background-image: url("/interface/corner.svg");
  background-repeat: no-repeat;
  background-position: $size / 2 $size / 2;
  background-size: $size + $size / 4;
}

.image {
  display: flex;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
