.window {
  @include border(2px, ridge);

  user-select: none;

  position: absolute;

  display: flex;
  flex-direction: column;

  color: var(--text-primary);

  background-color: var(--system-gray);

  &::before {
    content: "";

    position: absolute;
    right: 0;
    bottom: 0;

    width: 10px;
    height: 10px;

    background-image: url("/interface/corner.svg");
  }

  &.expanded {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;

    width: 100%;
    height: 100%;
  }

  &.hidden {
    display: none;
  }

  &.active {
    z-index: 100000000000 !important;
  }

  &:focus-visible {
    outline: none;
  }
}

.content {
  @include border-active;

  overflow: auto;

  height: 100%;
  margin: 10px;
  padding: 5px;

  background-color: var(--system-background);

  .image & {
    padding: 0;
  }

  .folder & {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--square));
    grid-template-rows: repeat(auto-fill, var(--square));
    flex-grow: 1;
    gap: 5px;

    height: 100%;
  }
}

.corner {
  $size: 10px;

  cursor: se-resize;

  position: absolute;
  top: -$size * 2;
  left: -$size * 2;

  width: $size * 3;
  height: $size * 3;
}

.image {
  display: flex;
  width: 100%;
  height: 100%;

  & img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
