.window {
  @include border(4px, double);

  user-select: none;

  position: absolute;

  display: flex;
  flex-direction: column;

  background-color: rgb(192 192 192);

  &:global(.expanded) {
    top: 0 !important;
    left: 0 !important;
    transform: none !important;

    width: 100%;
    height: 100%;
  }

  &:global(.hidden) {
    display: none;
  }

  &:global(.active) {
    z-index: 100000000000 !important;
  }

  &:focus-visible {
    outline: none;
  }
}

.content {
  @include border-active;

  height: 100%;
  margin: 8px;
  padding: 8px;
  background-color: #ececec;

  :global(.folder) & {
    overflow: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, var(--square));
    grid-template-rows: repeat(auto-fill, var(--square));
    flex-grow: 1;
    gap: 5px;

    height: 100%;
  }
}

.pin {
  $size: 12px;

  cursor: se-resize;

  position: absolute;
  z-index: 100;
  top: -$size * 1.5;
  left: -$size * 1.5;

  width: $size * 3;
  height: $size * 3;

  opacity: 0.5;
  background-image: url("/interface/corner.png");
  background-repeat: no-repeat;
  background-position: 2px 2px;
  background-size: 12px;
}
