.imagebar {
  position: relative;
  width: 100%;
}

.settings {
  position: absolute;
  display: flex;
  flex-flow: column wrap;

  & button {
    height: 30px;

    &.with-svg {
      justify-content: space-between;
    }

    & svg {
      width: auto;
      height: 100%;
    }
  }
}

.position {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100%;
}
