.container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.input {
  & label {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  & input {
    @include visually-hidden;

    & + .pin {
      @include border(1px);

      flex-shrink: 0;
      width: 20px;
      height: 20px;
    }

    &:checked + .pin {
      @include border-active(1px);

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";

        display: block;

        width: 100%;
        height: 100%;

        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOmN1cnJlbnRjb2xvcjtkaXNwbGF5OmlubGluZS1ibG9jazt2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7dmlzaWJpbGl0eTp2aXNpYmxlIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik01IDd2M2wyIDIgNS01VjRMNyA5WiIvPjwvc3ZnPg==");
      }
    }

    &:disabled + .pin + span {
      opacity: 0.3;
    }
  }
}
