.icon {
  $size: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: $size;
  height: $size;

  &.collapse {
    align-items: flex-end;

    svg {
      height: auto;
    }
  }
}
