.content {
  @include border-active;

  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;

  height: 100%;
  margin: 10px;
  padding: 5px;
}

.display {
  flex-shrink: 0;

  width: 184px;
  height: 169px;

  background-image: url("/interface/monitor.png");
  background-repeat: no-repeat;
}

.display__content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 152px;
  height: 112px;
  margin-top: 17px;
  margin-left: 16px;
  padding: 10px;

  background-color: var(--desktop-background);
}

.label {
  user-select: none;

  display: grid;
  grid-template-rows: 48px calc(var(--fz) * 2);
  gap: 4px;
  place-items: center center;
}

.label__icon {
  flex-shrink: 0;

  width: 48px;
  height: 48px;

  background-image: url("/icons/folder_closed48.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}

.label__name {
  overflow: hidden;
  display: -webkit-inline-box;

  width: 100%;
  max-height: calc(var(--fz) * 2);

  color: var(--desktop-text);
  text-overflow: ellipsis;
  word-break: break-word;

  background-color: var(--desktop-background);

  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.settings {
  display: flex;
  flex-direction: column;
  gap: 10px;

  width: 100%;
  height: 100%;
  padding: 0 20px;

  & form {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}

.input {
  & label {
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
  }

  & input {
    @include visually-hidden;

    & + .pin {
      @include border(1px);

      width: 20px;
      height: 20px;
    }

    &:checked + .pin {
      @include border-active(1px);

      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: "";

        display: block;

        width: 100%;
        height: 100%;

        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHN0eWxlPSJmaWxsOmN1cnJlbnRjb2xvcjtkaXNwbGF5OmlubGluZS1ibG9jazt2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7dmlzaWJpbGl0eTp2aXNpYmxlIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik01IDd2M2wyIDIgNS01VjRMNyA5WiIvPjwvc3ZnPg==");
      }
    }

    &:disabled + .pin + span {
      opacity: 0.3;
    }
  }
}
