.body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.buttons {
  display: flex;
  align-items: flex-end;
  padding: 0 2px;
}

.button {
  margin: 0;
  padding: 0;

  border-top: 1px solid #ffffff;
  border-right: 1px solid #000000;
  border-left: 1px solid #ffffff;
  border-radius: 2px 2px 0 0;

  &.active {
    position: relative;
    padding: 2px 10px;

    &::before {
      content: "";

      position: absolute;
      bottom: -2px;
      left: 0;

      width: 100%;
      height: 2px;

      background-color: rgb(192 192 192);
    }

    &::after {
      content: "";

      position: absolute;
      right: -1px;
      bottom: -1px;

      width: 1px;
      height: 1px;

      background-color: rgb(0 0 0);
    }
  }
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  width: 100%;
  height: 100%;
  padding: 10px;

  border-top: 1px solid #ffffff;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #ffffff;
}
