.button {
  $type: solid;

  @include border(1px, $type);

  user-select: none;

  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;

  padding: 5px;

  font-size: 14px;
  line-height: 14px;
  color: #000000;

  background-color: rgb(200 200 200);

  & svg {
    flex-shrink: 0;
    width: 8px;
    height: 8px;
  }

  & span {
    flex-shrink: 0;
    height: auto;
  }

  &:disabled {
    color: rgb(160 160 160);
    fill: rgb(160 160 160);
  }

  &:not(:disabled):active {
    @include border-active(1px, $type);

    & svg,
    & span {
      transform: translate(1px, 1px);
      fill: rgb(16 45 208);
    }
  }
}
